
java/SocketClient/\.project

java/SocketClient/\.classpath

java/SocketClient/\.settings/

*.class

java/SocketService/\.classpath

java/SocketService/\.settings/

java/selenium/Selenium/\.project

java/selenium/Selenium/\.settings/

javascript/angular/\.idea/

javascript/studynode/\.idea/
javascript/studynode/node_modules/
