<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>hello</title>
    <script type="text/javascript" charset="utf-8" src="../js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/Util.js"></script>
</head>

<body>
<form action="/login" method="post">

    <label>用户：<input type="text" name="username" id="username" /></label>
    <label>密码：<input type="password" name="password" id="password" /></label>
    <input type="button" value="提交" onclick="login()"/>
</form>
</body>
<script>
    function login(){
        var $username = $("#username").val();
        var $password = $("#password").val();
        $.custompost("/login",{username:$username,password:$password},function(data){
            if(data.code==0){
                location.href="/index";
            }else{
                console.log(data.msg);
            }
        },"json");
    }
</script>
</html>