<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="mf" connectionString="server=192.168.1.109;database=mf;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="mf_main" connectionString="server=192.168.1.109;database=mf;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="mf_record" connectionString="server=192.168.1.109;database=mf_record;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="mf_ww" connectionString="server=192.168.1.109;database=mf_ww;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user0" connectionString="server=192.168.1.109;database=user_0;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user1" connectionString="server=192.168.1.109;database=user_1;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user2" connectionString="server=192.168.1.109;database=user_2;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user3" connectionString="server=192.168.1.109;database=user_3;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user4" connectionString="server=192.168.1.109;database=user_4;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user5" connectionString="server=192.168.1.109;database=user_5;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
    <add name="user6" connectionString="server=192.168.1.109;database=user_6;uid=sa;pwd=www.2255.com" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Channel" value="BAIDU,A360,APPLE"/>
    <add key="Game" value="DDZ,QIPAIM"/>
    <add key="Terminal" value="IOS,ANDROID,PC"/>
    <add key="ReportRedis" value="192.168.1.91:6379"/>
    <add key="ChannelStatisticsRedis" value="192.168.1.91:6379"/>
    <add key="WorkerType" value="MF.Service.ChannelStatistics.ChannelStatisticsWorker,MF.Service"/>
    
    <!--<add key="ServiceName" value="MF.Service"/>
    <add key="ServiceDescription" value="2255棋牌 报表统计服务程序,该服务停止后将影响2255棋牌后台数据的查看"/>-->
    <add key="ServiceName" value="MF.ChannelStatistics.Service"/>
    <add key="ServiceDescription" value="渠道推广报表统计服务,该服务停止后将影响查看各个推广渠道效果报表"/>
    
    <add key="logPath" value="D:\log\admin"/>
    <add key="dbconfigPath" value="D:\admin\config\db.config"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
