{
"mf":"server=192.168.1.109;database=mf;uid=sa;pwd=www.2255.com",
"mf_main":"server=192.168.1.109;database=mf;uid=sa;pwd=www.2255.com",
"mf_record":"server=192.168.1.109;database=mf_record;uid=sa;pwd=www.2255.com",
"mf_ww":"server=192.168.1.109;database=mf_ww;uid=sa;pwd=www.2255.com",
"user0":"server=192.168.1.109;database=user_0;uid=sa;pwd=www.2255.com",
"user1":"server=192.168.1.109;database=user_1;uid=sa;pwd=www.2255.com",
"user2":"server=192.168.1.109;database=user_2;uid=sa;pwd=www.2255.com",
"user3":"server=192.168.1.109;database=user_3;uid=sa;pwd=www.2255.com",
"user4":"server=192.168.1.109;database=user_4;uid=sa;pwd=www.2255.com",
"user5":"server=192.168.1.109;database=user_5;uid=sa;pwd=www.2255.com",
"user6":"server=192.168.1.109;database=user_6;uid=sa;pwd=www.2255.com",
}